body {
  margin: 0;
  font-family: sans-serif;
  padding-top: 80px;  
}

.container-sign {
  display: flex;
  min-height: 100vh;
  position: relative;
  justify-content: center; 
  align-items: center; 
}

.no-header-padding {
  padding-top: 0; /* Remove padding from the top of the body */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("Mapecon_BG-Img.jpg");
  filter: blur(2px);
}

/* LOGIN AND SIGN UP */
.login-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-btn {
  background-color: red;
  color: white;
  width: 100%;
  margin-top: 10px;
  padding: 10px 15px; 
  border: none; 
  border-radius: 5px;
  font-weight: bold;  
  cursor: pointer;
  font-size: 16px;
}

.login-btn:hover {
  background-color: #B40000;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 5px 0 5px 0;
}

.logo {
  width: 200px;
  align-self: center;
}

/* Text Styles */
h2 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
  color: #4f4d4d;
  margin-bottom: 20px;
}

/* Link Styles */
.forgot-password {
  margin-top: -15px;
  display: block;  
  text-decoration: none;
  font-size: 13px;
  color: #333;
}

.forgot-password:hover{
  text-decoration: underline;
}

.sign-up-link {
  margin-top: 10px; /* Add space above the link */
  text-align: center; /* Center text alignment */
}

.sign-up-link a {
  color: #333; /* Set link color */
  text-decoration: none; /* Remove underline from link */
}

.sign-up-link a:hover {
  text-decoration: underline; /* Underline link on hover */
}
/* END LOGIN AND SIGN UP */

/* FORM FIELDS */
/* Style the leave application form */
.profile-edit,
.change-password,
.leave-application {
  margin: 20px auto;
  width: 40%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

/* Style the heading */
.h2_field {
  margin-top: 10px;
}

/* Style the form */
.leave-application form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Style the leave type label and select */
.department-edit,
.leave-type {
  width: 100%; /* Increased width here */
  margin-bottom: 20px;
  border: 1px solid #ccc; /* Added border to this class*/
  border-radius: 3px;
  box-sizing: border-box; /* Added this line */
  resize: none; /* Added this line */
}

.department-edit select,
.leave-type select {
  width: 100%;
  padding: 10px;
  border: none; /* Removed border here to avoid double borders*/
  border-radius: 3px;
}

/* Style the date range labels and inputs */
.from-date-date-range {
  width: 100%; /* Decreased width here */
  margin-bottom: 20px;
  padding: 10px; /* Added padding to this class */
  border: 1px solid #ccc; /* Added border to this class*/
  border-radius: 3px;
    box-sizing: border-box; /* Added this line */
  resize: none; /* Added this line */
}

.from-date-date-range input[type="date"] {
  width: 100%;
  padding: 5px 0 5px 0;
  border: none; /* Removed border here to avoid double borders*/
  border-radius: 3px;
}

.to-date-date-range {
  width: 100%; /* Decreased width here */
  margin-bottom: 20px;
  padding: 10px; /* Added padding to this class */
  border: 1px solid #ccc; /* Added border to this class*/
  border-radius: 3px;
    box-sizing: border-box; /* Added this line */
  resize: none; /* Added this line */
}

.to-date-date-range input[type="date"] {
  width: 100%;
  padding: 5px 0 5px 0;
  border: none; /* Removed border here to avoid double borders*/
  border-radius: 3px;
}

/* Style the form's field */
#fname,
#lname,
#contact,
#email,
#password,
#department,
#others,
#numofDays,
.reason {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px; /* Added padding to this class */
  border: 1px solid #ccc; /* Added border to this class*/
  border-radius: 3px;
    box-sizing: border-box; /* Added this line */
}

.reason textarea {
  width: 100%;
  border: none; /* Removed border here to avoid double borders*/
  border-radius: 3px;
  height: 100px;
  resize: none; /* Added this line */
}

/* Style the profile container */
.profile-container {
  margin: 20px auto;
  width: 40%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

/* Style the heading */
.h2_field {
  margin-top: 40px;
}

/* Style the form */
.profile-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Style the input fields */
.profile-form label {
  display: block;
  margin-bottom: 5px;
}

.profile-form input[type="text"],
.profile-form input[type="tel"],
.profile-form input[type="email"],
.profile-form input[type="password"] {
  width: calc(50% - 10px); /* Adjusted width to fit two inputs in a row with margin */
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

/* BUTTONS */

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttons button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Style the cancel button */
.buttons button[type="button"] {
  background-color: #F0F0F0;
}

/* Style the save and submit buttons */
#pdf-btn{
  background-color: transparent;
  border: 2px solid red; 
  color: red; 
  cursor: pointer; 
}

#submit-btn{
  background-color: #B40000;
  color: #fff;
}

#leave-btn {
  background-color: #B40000;
  color: #fff;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Style for hover buttons */
.buttons button[type="button"]:hover {
  background-color: lightgrey; 
}
#pdf-btn:hover {
  background-color: red; 
  color: white; 
}
#submit-btn:hover {
  background-color: #fa2020;
}

#leave-btn:hover {
  background-color: #fa2020;
}
/* End Style for hover buttons */
/* END BUTTONS */

/* Leave Home CSS Style */
.leave-container {
  margin-top: 40px;
  text-align: center;
  position: relative; 
  padding: 200px;
}

.leave-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('leave_background.jpg'); 
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat; 
  opacity: 0.5; 
  z-index: -1; 
}

.leave-container h1,
.leave-container p {
  color: #2D3648; 
  position: relative;  
  z-index: 1; 
}
/* End Leave Home CSS Style */

/* CARD STYLE */
.card-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  margin: 20px;
}

.card {
  position: relative; /* Positioning for the background overlay */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px; /* Set width for all cards */
  margin: 10px; /* Add some margin between cards */
  text-align: center;
  font-family: arial;
  border-radius: 10px; /* Add border-radius for rounded corners */
  overflow: hidden; /* Hide overflow from background overlay */
}

.card-content {
  position: relative; 
}

.card h1 {
  margin-top: 50px; 
}

.card p
{
  margin-bottom: 40px;
}

.card button {
  border: none;
  border-radius: 10px;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
  margin-bottom: 10px; 
}

.card button:hover {
  opacity: 0.7;
}
/* END CARD STYLE */


/* Make the form responsive on phone and tablet breakpoints */
@media only screen and (max-width: 768px) {
  .login-form {
    width: 80%;
  }

  .h2_field {
    margin-top: 30px;
  }

  .leave-application {
    width: 70%;
  }
  
  .leave-type,
  .date-range {
    width: 100%;
  }
  
}

/* Media query for responsiveness */
@media only screen and (max-width: 600px) {
  header {
    padding: 20px 20px; 
  }
  .logo_header img{
    width: 100px;
    margin-left: 10px;
  }

  .profile-dropdown img {
    width: 30px;
    height: 30px;
  }

  .file-leave-container {
    padding: 10px;
  }
}

/* Media query for responsiveness */
@media (max-width: 600px) {

  .leave-container {
    padding: 20% 10%;
  }

  .leave-container h1 {
    font-size: 1.2em; 
  }

  .leave-container p {
    font-size: 1em; 
  }

}

@media (max-width: 300px) {

  .leave-container {
    padding: 30% 10%;  
  }

  .leave-container h1 {
    font-size: 1em; 
  }

  .leave-container p {
    font-size: 0.8em;  /* Adjust as needed */
  }
  
}





